@media (max-width: 576px){

    .logo-advertisement{
        background:#f7f7f7;
        background-repeat:no-repeat;
        background-image:var(--custom-bg-mobile);
    }

    .logo-dispar{
        width: 30px;
        position: absolute;
        transform: translate(-5px, 35px);
    }
    .logo-burung{
        width: 100px;
        position:absolute;
        transform: translate(50px, 55px);
    }
    .title-logo-dispar{
        /* padding-left: 90px; */
        color:white;
        text-shadow: 0px 1px #8A2BE2;
        transform: translate(30px, 20px);
    }
    .title-logo-dispar h2{
        color:white;
        font-size: 11px;
        margin-bottom: 0px;
    }
    .title-logo-dispar p{
        color:white;
        font-size: 6px;
    }
    
    .title-logo-burung{
        text-align:right;
        padding-right: 75px;
        color:black;
        text-shadow: 0px 1px #8A2BE2;
    }
    .title-logo-burung p{
        color:black;
        font-size: 20px;
        font-family: "Comic Sans MS", "Comic Sans", cursive;
    }

    section.heading-news {
        padding-top: 0px;
    }

    /* ============================= */

    /* bagian search */
    section.space-search {
        height: 360px;
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
 
    /* .container.center-search {
      transform: translateY(160px);
        text-align:center;
        margin-top: 570px;
    }  */
   
    .center-search {
        transform: translateY(160px);
        text-align: center;
        width: 900px;
        margin-top: 340;
    }
 
    .container.center-search h2{
        color: #d22a3b;
        font-weight: bold;
        text-shadow: 0px -1px 1px black;
        font-family: 'Lato', sans-serif;
        font-size: 40px;
    }
 
    .container.center-search form.search-form {
        position: relative;
        margin: 0;
        margin-left: 60px;
        margin-right: 60px;
    }
 
    form.search-form input[type="text"] {
        height: 40px;
        width: 60%;
        font-size: 18px;
        font-weight: bold;
        transform:translate(-20px, -16px);
        border:0px solid black;  
        border-right: 1px solid #e9e9e9;
        text-transform: lowercase;
    }
 
    button, select.category-search {
        text-transform: none;
        position: absolute;
        right: 40;
        top: 12;
        font-size: 20px;
    }
 
    form.search-form button {
        top: 18px;
    }

}