@media (max-width: 768px){
    .logo-advertisement{
        background:#f7f7f7;
        background-repeat:no-repeat;
        background-image: var(--custom-bg-mobile);
    }
    .logo-dispar{
        width: 30px;
        top: 60px;
        position: absolute;
    }
    .title-logo-dispar{
        width: 345px;
        font-size:10px;
        padding-left: 20px;
    }
    .title-logo-dispar > h2, p {
        font-size: 9px;
        color:white;
    }
    .title-logo-dispar > h2 {
        transform:translate(20px, 30px);
        width:50%;
    }
    .title-logo-dispar > p {
        /* display:none; */
        transform:translate(20px, 20px);
        font-size: 5px;
        width:50%;
    }
    .logo-burung{
        width: 115px;
        transform: translate(10px, 0px);
    }

    /* override theme */
    section.heading-news{
        padding-top:0px;
    }

    button, select.category-search {
        text-transform: none;
        position: absolute;
        right: 40;
        top: 12;
        font-size: 20px;
        border: none;
        background: transparent;
    }

    form.search-form button {
        top: 18px;
    }

    select.category-search::-ms-expand { 
        display: none; 
    }

    select.category-search {
        -webkit-appearance: none;
        appearance: none;
        display:none;
    }

    section.space-search {
        height: 460px;
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    .container.center-search {
        /* transform: translateY(160px); */
        text-align:center;
    }

    .container.center-search h2{
        color: #d22a3b;
        font-weight: bold;
        text-shadow: 0px -0px 0px black;
        font-family: 'Lato', sans-serif;
        font-size: 40px;
    }

    .container.center-search form.search-form {
        position: relative;
        margin: 0;
        margin-left: 60px;
        margin-right: 60px;
    }

    form.search-form input[type="text"] {
        height: 40px;
        width: 60%;
        font-size: 10px; 
        font-weight: bold;
        transform:translate(-20px, -16px);
        border:0px solid black;   
        border-right: 1px solid #e9e9e9;
        text-transform: lowercase;
    }
}