/* Mediaquery for mobile user*/
/* @import "mobile-iphone.css"; */
/* @import "mobile-another.css"; */

@media (min-width: 768px){
/* bagian header atas */
.logo-advertisement{
    background:#f7f7f7;
    background-repeat:no-repeat;
    background-image:var(--custom-bg-website);
}
.logo-dispar{
    height: 90px;
    width: 70px;
    /* left:90px; */
    position: absolute;
}

.logo-burung{
    height:125px; 
    width: 275px;
    right: 35;
    top: 0.1;
    position:absolute;
    /*background-color: white;*/
}
.title-logo-dispar{
    padding-left: 90px;
    color:white;
    text-shadow: 0px 1px #8A2BE2;
}
.title-logo-dispar p{
    color:white;
}

.title-logo-burung{
    text-align:right;
    padding-right: 75px;
    color:black;
    text-shadow: 0px 1px #8A2BE2;
}
.title-logo-burung p{
    color:black;
    font-size: 20px;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.navbar-nav > li > a.nav-custom:before {
    background: var(--custom-color);
}

.space-search{
    height: 109%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position:center;
    background-size: 100%;
}

.center-search{
    transform: translateY(160px);
    text-align:center;
    width: 900px;
}

.center-search h2{
    font-size: 50px;
    color:#d22a3b; /* #224877 */
    font-weight:bold;
    text-shadow: 0px -1px 1px black;
    font-family: 'Lato', sans-serif;
    /*text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.82);*/
    /* text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; */
}
.center-search h3{
    color:#ff8040; /* #224877 */
    text-shadow: 0px -1px 0px white;
    /* font-weight:bold; */
    /* text-shadow: 2 2px black; */
    /* text-shadow: -1px 0 #224877, 0 2px #224877, 2px 0 #224877, 0 -1px #224877; */
}

form.search-form{
    width: 100%;
    height: 70px;
    padding: 25px;
    font-size: 15px;    
    border-radius: 30px;
    box-shadow: inset 0px 1px 8px rgba(0, 0, 0, 0.2);
    border: 1px solid #d1d1d1;
    border-right: 1px solid #e9e9e9;
    background-color:white;
    filter: alpha(opacity=50);
    opacity: 0.800;
}

form.search-form input[type="text"]{
    height: 40px;
    width: 60%;
    font-size: 15px; 
    font-weight: bold;
    transform:translate(-20px, -16px);
    border:0px solid black;   
    border-right: 1px solid #e9e9e9;
    text-transform: lowercase;
}

form.search-form select.category-search{
    width: 210px;
    height: 50px;
    transform: translate(-10px, -15px);
    border: 0px;
    font-size: 19px;
    -webkit-appearance: none;
    padding-left: 10px;
}
form.search-form select.category-search:focus{
    outline:0px;
}

form button i.fa-search {
    font-size: 30px;
    transform: translate(-10px, 10px);
}

/* start rewrite css theme */
.navbar-brand{
    padding:15px;
}

.image-post, .list-posts, .post-gallery, .news-post{
    cursor: pointer;
}

section.heading-news {
    padding-top: 0px;
}

.bx-controls-direction{
    height:20px;
}

.bx-controls-direction a.bx-prev{
    height:205px;
}

.bx-controls-direction a.bx-next{
    height:205px;
}

.modal{
    padding-top:40px
}

.navbar-nav > li > a.nav-custom:before {
    background: var(--custom-color);
}

.navbar-nav li.drop ul.dropdown.features-dropdown {
	border-top: 3px solid var(--custom-color);
}

.video-post a.video-link{
    font-size:15px;
}

.single-post-box .share-post-box ul.share-box li a.instagram {
    background:linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
}

/* show image */

.sidebar.large-sidebar .tab-posts-widget .tab-pane ul.list-posts li.right-side-viewed{
    padding-left:105px;
}

/* end rewrite css theme */

}
/* end responsive website  */

/* class image in home */

.preview-header{
    height:170px;
}

.preview-header-slider{
    height:340px;
}

.preview-popular-post{
    height:200px;
}

.preview-first-post{
    height:285px;
}

.preview-three-post{
    height:80px;
}

.preview-last-post{
    height:240px;
}

.preview-right-side-post{
    height:205px;
}

.preview-right-side-post-two{
    height:65px;
}

.preview-right-side-popular-post{
    height:60px;
}

.preview-footer-post{
    height:65px;
}
/* end class image in home */

